
<div class="zkdrop">
    <!-- toolbar button -->
    <div class="articletop row">
        <div class="clo-xs-8 col-sm-8 col-md-8 col-lg-8"><i class="fa-cog fa icon-large" style="vertical-align:middle;margin-right:5px;"></i>文章管理</div>
        <div class="clo-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
        <button class="btn btn_action" onclick="add()" data-toggle="modal" data-target="#myModal">添加文章</button>
        <button class="btn btn_setting" onclick="edit()">修改文章</button>
        <button class="btn btn_tool" onclick="del()"><i class="icon-share-alt"></i>删除文章</button>
        </div>
    </div>
    <hr style="margin:0;" />
    <div class="row " style="padding-top:10px;padding:10px 0 0 0;">
        <!-- tab header-->
        <div class="clo-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding:0;">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" onclick="load(-1)" aria-controls="home" role="tab" data-toggle="tab">所有文章</a></li>
                <li role="presentation"><a href="#profile" onclick="load(1)" aria-controls="profile" role="tab" data-toggle="tab">已发布</a></li>
                <li role="presentation"><a href="#messages" onclick="load(0)" aria-controls="messages" role="tab" data-toggle="tab">未发布</a></li>
                <li role="presentation"><a href="#settings" onclick="load(2)" aria-controls="settings" role="tab" data-toggle="tab">回收站</a></li>
            </ul>
        </div>
        <!--  sreach -->
        <div class="clo-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="portlet-input input-inline input-medium pull-right" style="width:240px;">
                <div class="input-group">
                    <input id="sreachtxt" class="form-control keyword" placeholder="商品名称/品牌/备注等" type="text">
                    <div class="input-group-btn">
                        <a class="btn btn-default search-button" onclick="sreach()">
                            <i class="fa fa-search"></i>
                        </a>
                  
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- tab content-->
    <div class="tab-content">
        <!--文章列表表格， 这里的高度应该根据可见区域通过JS动态修改-->
        <table id="allarticle"></table>
    </div>

</div>
<!-- 引入easyui-->

<script>
    //时间格式化函数，到时可以提取到一个公共的地方
    /*日期格式华 yyyy-MM-dd */
    Date.prototype.format = function (format) {
        var o = {
            "M+": this.getMonth() + 1, //month 
            "d+": this.getDate(), //day 
            "h+": this.getHours(), //hour 
            "m+": this.getMinutes(), //minute 
            "s+": this.getSeconds(), //second 
            "q+": Math.floor((this.getMonth() + 3) / 3), //quarter 
            "S": this.getMilliseconds() //millisecond 
        }

        if (/(y+)/.test(format)) {
            format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }

        for (var k in o) {
            if (new RegExp("(" + k + ")").test(format)) {
                format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
            }
        }
        return format;
    }
    //格式化时间  
    function formattime(value, rowData, rowIndex) {        
        try {
            if (value == "" || value == null || value == undefined) {
                return "";
            }
            //var dt = eval("new " + value.substr(1, value.length - 2)).toString();
            var d = new Date(value);
            var testStr = d.format("yyyy-MM-dd hh:mm:ss");
            return testStr;
        } catch (e) {
            return "";
        }
    }
    //格式化日期
    function formatdate(value, rowData, rowIndex) {
        try {
            if (value == "" || value == null || value == undefined) {
                return "";
            }
            var dt = eval("new " + value.substr(1, value.length - 2)).toString();
            var d = new Date(dt);
            var testStr = d.format("yyyy-MM-dd");
            return testStr;
        } catch (e) {
            return "";
        }
    }
    function formatStatu(value, rowData, rowIndex) {
      
        if (value === 1) {
            return "发布";

        }
        if (value === 0) {
            return "未发布";

        }
        if (value === 2) {
            return "已删除";

        }
        return "";
    }

    var curState;

    //加载所有文章
    function load(m_state) {
        if (m_state === curState) {
            //如果点击的是，当前同一个Tab页面，则不加载数据
            return;
        }
        curState = m_state;
        $('#allarticle').datagrid({
            pageList: [2,5,10,20,30],//每页记录条数选择列表
            pageSize: 10,//默认每页条数设置
            nowrap: true,//列内容是否换行
            url: '/article/articleservices/query', //获取数据地址
            loadMsg: "数据加载中...",//加载数据提示
            idField: 'Id', //ID字段名
            remoteSort: false,//是否服务端排序
            singleSelect: false, //单选多选设置
            fitColumns: true,//自动修正列宽
            pagination: true,//是否分页
            rownumbers: false,//是否显示行号
            queryParams: { state: m_state },//传递的参数
            columns: [[
                    { field: 'ck', checkbox: true, align: 'center' },
                    { field: 'Title', title: '文章标题', width: 230, sortable: true },
                    { field: 'CreateTime', title: '创建时间', width: 150, sortable: true, formatter: formattime }, //引用上面定义的时间函数格式化时间 yyyy-MM-dd HH:mm:ss
                    { field: 'State', title: '文章状态', width: 120, sortable: true, formatter: formatStatu },
                    { field: 'Remark', title: '备注', width: 150, sortable: true }               
            ]]
        });
    }

    //搜索
    function sreach() {
        var sreacTxt = $("#sreachtxt").val();    
        $('#allarticle').datagrid("load", { state: curState, sreach: sreacTxt });
    }

    function del() {
        var selecteds = $("#allarticle").datagrid("getSelections");
        if (selecteds.length > 0) {
            //alert(selecteds);
            var _ids = $.map(selecteds, function (obj) {
                return obj.Id;
            });
            $.post("/article/articleservices/deletes", { "": _ids.toString() }, function (result) {
                alert(result.message);
                if (!!result.status) {
                    $("#allarticle").datagrid("reload");
                    $("#allarticle").datagrid("clearSelections");//刷新表格
                }
            });
        }
        else {
            alert("请选择要删除的数据!");
        }
    }

    function add() {        
        window.location.href = "/article/admin/edit";
    }

    function edit() {
        var selected = $("#allarticle").datagrid("getSelected");
        if (selected != null) {
            window.location.href = "/article/admin/edit?id=" + selected.Id;
        }
        else {
            alert("请选择要修改的记录!");
        }
    }
       
    $(function () {
        var tableHeight = $(window).height() - 200; //计算表格的高度
        $("#allarticle").height(tableHeight);
        load(-1);//默认加载所有             
    });
</script>