@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ZKCloud.Core.AutoConfig.IAutoConfig
@using ZKCloud.Core.AutoConfig;
@{
    var configDescription = AutoConfigManager.GetConfigDescription(Model.GetType());
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>UPMS API help page</title>
</head>
<body>
    <h1>Test Config Edit Page</h1>
    <h3>Config @configDescription.ConfigAttribute.AppName</h3>
    <ul>
        @using (Html.BeginForm(FormMethod.Post)) {
            @foreach (var item in configDescription.Properties) {
                <li>@item.PropertyAttribute.Key:@Html.TextBox(item.PropertyAttribute.Key, item.GetValue(Model))</li>
            }
            <li><input type="submit" value="提交" /></li>
        }
    </ul>
</body>
</html>