.zk-container {
    position: relative;
}

.zkbutton {
    position: absolute;
    top: 3px;
    right: 10px;
}

.articelblock .nav-tabs > li a {
    color: grey;
}

.articelblock .nav-tabs > li.active > a {
    border-color: white;
    background-color: white;
    color: #36C6D3;
    border-bottom: 2px solid #36C6D3 !important;
}

.nav-tabs > li.active > a:focus {
    border-color: white;
    background-color: white;
}

.nav-tabs > li.active > a:hover {
    border-color: white;
    background-color: white;
}

.articelblock .nav-tabs > li:hover a {
    border-color: white;
    background-color: white;
    border-bottom: 2px solid #36C6D3 !important;
}
